h1 {
  text-align: center;
}

h3 {
  text-align: center;
  padding-bottom: 15px;
}

.toy-container {
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.toys {
  background-color: white;
  display: absolute;
  margin: auto;
  padding: 20px;
  font-size: 150%;
  border: 1px solid gray;
  box-shadow: 1px 1px 4px;

  width: 500px;
  height: auto;
  margin: 50px;
  border-radius: 15px;
  word-break: break-word;
}

/* image: 300 x 211px */
