h1 {
  text-align: center;
}

h3 {
  text-align: center;
  padding-bottom: 15px;
}

.toys {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid gray;
  box-shadow: 1px 1px 4px;
  display: inline-block;
  vertical-align: top;
  width: 250px;
  height: 430px;
  margin: 7px;
  padding: 10px;
  border-radius: 25px;
}
