/* .header { */
/* background-image: url(images/tennis1.jpg); */
/* background-image: linear-gradient(rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5))
    url("/public/images/tennis1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
} */

/* .img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5));
} */
